<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.54540620986652" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.54540620986652" rpy="0 0 0"/>
            <geometry>
                <box size="1.229401078825536 1.0947039425359921 1.09081241973304" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.54540620986652" rpy="0 0 0"/>
            <geometry>
                <box size="1.229401078825536 1.0947039425359921 1.09081241973304" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1">
        <inertial>
            <origin xyz="0 1.293407619111184 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.293407619111184 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.7245019693888466 2.586815238222368 1.2788773467659245" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.293407619111184 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.7245019693888466 2.586815238222368 1.2788773467659245" />
            </geometry>
        </collision>
    </link>
    <link name="Leg2">
        <inertial>
            <origin xyz="0 0 0.8003137918606427" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8003137918606427" rpy="0 0 0"/>
            <geometry>
                <box size="2.769119258675671 1.4153548571955268 1.6006275837212853" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8003137918606427" rpy="0 0 0"/>
            <geometry>
                <box size="2.769119258675671 1.4153548571955268 1.6006275837212853" />
            </geometry>
        </collision>
    </link>
    <link name="Leg3">
        <inertial>
            <origin xyz="0 1.4555181301591407 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.4555181301591407 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.646744069601066 2.9110362603182813 2.10296064031421" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.4555181301591407 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.646744069601066 2.9110362603182813 2.10296064031421" />
            </geometry>
        </collision>
    </link>
    <link name="Leg4">
        <inertial>
            <origin xyz="0.9725255774433752 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9725255774433752 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9450511548867504 1.992381619731154 2.3229830105082" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9725255774433752 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9450511548867504 1.992381619731154 2.3229830105082" />
            </geometry>
        </collision>
    </link>
    <link name="Leg5">
        <inertial>
            <origin xyz="0 1.1418339490201297 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.1418339490201297 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.578104502201371 2.2836678980402594 1.90906311955944" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.1418339490201297 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.578104502201371 2.2836678980402594 1.90906311955944" />
            </geometry>
        </collision>
    </link>
    <link name="Leg6">
        <inertial>
            <origin xyz="0 0 0.6727589248693705" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6727589248693705" rpy="0 0 0"/>
            <geometry>
                <box size="1.3026185935889745 2.5966666248951116 1.345517849738741" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6727589248693705" rpy="0 0 0"/>
            <geometry>
                <box size="1.3026185935889745 2.5966666248951116 1.345517849738741" />
            </geometry>
        </collision>
    </link>
    <link name="Leg7">
        <inertial>
            <origin xyz="0 1.2233924230104745 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.2233924230104745 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.8204029077890405 2.446784846020949 1.678989832810609" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.2233924230104745 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.8204029077890405 2.446784846020949 1.678989832810609" />
            </geometry>
        </collision>
    </link>
    <link name="Leg8">
        <inertial>
            <origin xyz="0 0 0.8215309255017953" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8215309255017953" rpy="0 0 0"/>
            <geometry>
                <box size="1.1599763649065742 2.62300469790397 1.6430618510035906" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8215309255017953" rpy="0 0 0"/>
            <geometry>
                <box size="1.1599763649065742 2.62300469790397 1.6430618510035906" />
            </geometry>
        </collision>
    </link>
    <link name="Leg9">
        <inertial>
            <origin xyz="0 0.7426811591783812 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7426811591783812 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7095941258605931 1.4853623183567624 1.189373646333332" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7426811591783812 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7095941258605931 1.4853623183567624 1.189373646333332" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Leg1" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg1"/>
       <origin rpy="0 0 0" xyz="0 0.5473519712679961 0.54540620986652" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg2" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg2"/>
       <origin rpy="0 0 0" xyz="0 1.293407619111184 0.6394386733829622" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg5_Leg3" type="revolute">
       <parent link="Leg5"/>
       <child  link="Leg3"/>
       <origin rpy="0 0 0" xyz="0 1.2983333124475558 0.6727589248693705" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg3_Leg4" type="revolute">
       <parent link="Leg3"/>
       <child  link="Leg4"/>
       <origin rpy="0 0 0" xyz="1.9450511548867504 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg8_Leg5" type="revolute">
       <parent link="Leg8"/>
       <child  link="Leg5"/>
       <origin rpy="0 0 0" xyz="0 1.4853623183567624 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg6" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg6"/>
       <origin rpy="0 0 0" xyz="0 1.4555181301591407 1.051480320157105" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg7_Leg7" type="revolute">
       <parent link="Leg7"/>
       <child  link="Leg7"/>
       <origin rpy="0 0 0" xyz="0 1.311502348951985 0.8215309255017953" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg8" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg8"/>
       <origin rpy="0 0 0" xyz="0 1.293407619111184 1.2788773467659245" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg9" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg9"/>
       <origin rpy="0 0 0" xyz="0 2.9110362603182813 1.051480320157105" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>