<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.7627028286668445" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7627028286668445" rpy="0 0 0"/>
            <geometry>
                <box size="2.9908468139810847 2.5639767822283 1.525405657333689" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7627028286668445" rpy="0 0 0"/>
            <geometry>
                <box size="2.9908468139810847 2.5639767822283 1.525405657333689" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1">
        <inertial>
            <origin xyz="0 0.9054949955269794 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.9054949955269794 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.9529884640802595 1.8109899910539589 1.561125864066707" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.9054949955269794 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.9529884640802595 1.8109899910539589 1.561125864066707" />
            </geometry>
        </collision>
    </link>
    <link name="Leg2">
        <inertial>
            <origin xyz="0 0 1.36200221073448" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.36200221073448" rpy="0 0 0"/>
            <geometry>
                <box size="1.7251494363104738 1.5480107361686863 2.72400442146896" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.36200221073448" rpy="0 0 0"/>
            <geometry>
                <box size="1.7251494363104738 1.5480107361686863 2.72400442146896" />
            </geometry>
        </collision>
    </link>
    <link name="Leg3">
        <inertial>
            <origin xyz="0 0 1.3429091446127357" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.3429091446127357" rpy="0 0 0"/>
            <geometry>
                <box size="2.5398113646104936 2.5636683236673274 2.6858182892254714" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.3429091446127357" rpy="0 0 0"/>
            <geometry>
                <box size="2.5398113646104936 2.5636683236673274 2.6858182892254714" />
            </geometry>
        </collision>
    </link>
    <link name="Leg4">
        <inertial>
            <origin xyz="0 0.7807519257258152 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7807519257258152 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.2970307377735337 1.5615038514516304 2.8203861389637526" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7807519257258152 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.2970307377735337 1.5615038514516304 2.8203861389637526" />
            </geometry>
        </collision>
    </link>
    <link name="Leg5">
        <inertial>
            <origin xyz="0 1.471620957056354 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.471620957056354 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.7774623053187772 2.943241914112708 2.478015269979873" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.471620957056354 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.7774623053187772 2.943241914112708 2.478015269979873" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Leg1" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg1"/>
       <origin rpy="0 0 0" xyz="0 1.28198839111415 0.7627028286668445" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg1_Leg2" type="revolute">
       <parent link="Leg1"/>
       <child  link="Leg2"/>
       <origin rpy="0 0 0" xyz="0 0 2.72400442146896" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg1_Leg3" type="revolute">
       <parent link="Leg1"/>
       <child  link="Leg3"/>
       <origin rpy="0 0 0" xyz="0 0 4.08600663220344" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg4" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg4"/>
       <origin rpy="0 0 0" xyz="0 1.2818341618336637 1.3429091446127357" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg5" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg5"/>
       <origin rpy="0 0 0" xyz="0 2.5636683236673274 1.3429091446127357" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>