<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.555346922613385" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.555346922613385" rpy="0 0 0"/>
            <geometry>
                <box size="1.041980769390452 1.0801955369448337 1.11069384522677" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.555346922613385" rpy="0 0 0"/>
            <geometry>
                <box size="1.041980769390452 1.0801955369448337 1.11069384522677" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1">
        <inertial>
            <origin xyz="0 0 1.4058279050831697" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.4058279050831697" rpy="0 0 0"/>
            <geometry>
                <box size="1.8362033260161847 1.4627079189709549 2.8116558101663394" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.4058279050831697" rpy="0 0 0"/>
            <geometry>
                <box size="1.8362033260161847 1.4627079189709549 2.8116558101663394" />
            </geometry>
        </collision>
    </link>
    <link name="Leg2">
        <inertial>
            <origin xyz="0 0.7209848302580455 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7209848302580455 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.5886315837951273 1.441969660516091 2.6733901099199953" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7209848302580455 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.5886315837951273 1.441969660516091 2.6733901099199953" />
            </geometry>
        </collision>
    </link>
    <link name="Leg3">
        <inertial>
            <origin xyz="1.4689383222107155 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.4689383222107155 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.937876644421431 1.0569694404625702 2.006327814906954" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.4689383222107155 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.937876644421431 1.0569694404625702 2.006327814906954" />
            </geometry>
        </collision>
    </link>
    <link name="Leg4">
        <inertial>
            <origin xyz="0 1.1959162644137193 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.1959162644137193 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.500405272873123 2.3918325288274387 1.442324434283125" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.1959162644137193 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.500405272873123 2.3918325288274387 1.442324434283125" />
            </geometry>
        </collision>
    </link>
    <link name="Leg5">
        <inertial>
            <origin xyz="1.3191611019955698 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.3191611019955698 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6383222039911396 2.5396577748084885 1.7105821827429246" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.3191611019955698 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6383222039911396 2.5396577748084885 1.7105821827429246" />
            </geometry>
        </collision>
    </link>
    <link name="Leg6">
        <inertial>
            <origin xyz="0 0 0.6780589975744051" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6780589975744051" rpy="0 0 0"/>
            <geometry>
                <box size="1.488550281771417 2.1711681037185113 1.3561179951488103" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6780589975744051" rpy="0 0 0"/>
            <geometry>
                <box size="1.488550281771417 2.1711681037185113 1.3561179951488103" />
            </geometry>
        </collision>
    </link>
    <link name="Leg7">
        <inertial>
            <origin xyz="0.6515971335235946 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6515971335235946 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3031942670471892 2.070547089026975 1.2371189008748849" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6515971335235946 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3031942670471892 2.070547089026975 1.2371189008748849" />
            </geometry>
        </collision>
    </link>
    <link name="Leg8">
        <inertial>
            <origin xyz="0 0 0.5672733788131427" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5672733788131427" rpy="0 0 0"/>
            <geometry>
                <box size="1.5846020784386057 1.5714707233187124 1.1345467576262853" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5672733788131427" rpy="0 0 0"/>
            <geometry>
                <box size="1.5846020784386057 1.5714707233187124 1.1345467576262853" />
            </geometry>
        </collision>
    </link>
    <link name="Leg9">
        <inertial>
            <origin xyz="1.041296776692187 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.041296776692187 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.082593553384374 1.3275594801522665 1.8725896956738592" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.041296776692187 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.082593553384374 1.3275594801522665 1.8725896956738592" />
            </geometry>
        </collision>
    </link>
    <link name="Leg10">
        <inertial>
            <origin xyz="0.8097958852220325 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8097958852220325 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.619591770444065 1.8870912984045494 1.210242994794158" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8097958852220325 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.619591770444065 1.8870912984045494 1.210242994794158" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Leg1" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg1"/>
       <origin rpy="0 0 0" xyz="0 0 1.11069384522677" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg2" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg2"/>
       <origin rpy="0 0 0" xyz="0 0.7313539594854774 1.4058279050831697" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg3" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg3"/>
       <origin rpy="0 0 0" xyz="2.937876644421431 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg4" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg4"/>
       <origin rpy="0 0 0" xyz="2.937876644421431 0.5284847202312851 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg4_Leg5" type="revolute">
       <parent link="Leg4"/>
       <child  link="Leg5"/>
       <origin rpy="0 0 0" xyz="2.6383222039911396 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg3_Leg6" type="revolute">
       <parent link="Leg3"/>
       <child  link="Leg6"/>
       <origin rpy="0 0 0" xyz="0 1.1959162644137193 0.7211622171415625" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg3_Leg7" type="revolute">
       <parent link="Leg3"/>
       <child  link="Leg7"/>
       <origin rpy="0 0 0" xyz="1.2502026364365615 1.1959162644137193 0.7211622171415625" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg6_Leg8" type="revolute">
       <parent link="Leg6"/>
       <child  link="Leg8"/>
       <origin rpy="0 0 0" xyz="0.6515971335235946 0 0.6185594504374424" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg7_Leg9" type="revolute">
       <parent link="Leg7"/>
       <child  link="Leg9"/>
       <origin rpy="0 0 0" xyz="0.7923010392193028 0 0.5672733788131427" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg10" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg10"/>
       <origin rpy="0 0 0" xyz="0.9181016630080924 0.7313539594854774 1.4058279050831697" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>