<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.6953211329431707" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6953211329431707" rpy="0 0 0"/>
            <geometry>
                <box size="2.9513420933194014 2.946728697388366 1.3906422658863413" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6953211329431707" rpy="0 0 0"/>
            <geometry>
                <box size="2.9513420933194014 2.946728697388366 1.3906422658863413" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1">
        <inertial>
            <origin xyz="0.9489736833363476 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9489736833363476 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8979473666726951 1.1674213563794842 1.5128210187498259" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9489736833363476 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8979473666726951 1.1674213563794842 1.5128210187498259" />
            </geometry>
        </collision>
    </link>
    <link name="Leg2">
        <inertial>
            <origin xyz="0 0 0.9454542621301302" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9454542621301302" rpy="0 0 0"/>
            <geometry>
                <box size="1.4268608387718973 2.8786184392048133 1.8909085242602603" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9454542621301302" rpy="0 0 0"/>
            <geometry>
                <box size="1.4268608387718973 2.8786184392048133 1.8909085242602603" />
            </geometry>
        </collision>
    </link>
    <link name="Leg3">
        <inertial>
            <origin xyz="1.0359624049737566 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.0359624049737566 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.071924809947513 1.0687330823437977 1.654345828953404" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.0359624049737566 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.071924809947513 1.0687330823437977 1.654345828953404" />
            </geometry>
        </collision>
    </link>
    <link name="Leg4">
        <inertial>
            <origin xyz="0 1.453173130546262 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.453173130546262 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9146755653532292 2.906346261092524 2.2059267472511688" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.453173130546262 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.9146755653532292 2.906346261092524 2.2059267472511688" />
            </geometry>
        </collision>
    </link>
    <link name="Leg5">
        <inertial>
            <origin xyz="1.379888149166806 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.379888149166806 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.759776298333612 2.0138645106875988 2.0390206400673936" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.379888149166806 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.759776298333612 2.0138645106875988 2.0390206400673936" />
            </geometry>
        </collision>
    </link>
    <link name="Leg6">
        <inertial>
            <origin xyz="0 0 1.2743960293797736" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.2743960293797736" rpy="0 0 0"/>
            <geometry>
                <box size="2.5799004291295597 1.2129961697091205 2.548792058759547" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.2743960293797736" rpy="0 0 0"/>
            <geometry>
                <box size="2.5799004291295597 1.2129961697091205 2.548792058759547" />
            </geometry>
        </collision>
    </link>
    <link name="Leg7">
        <inertial>
            <origin xyz="0 0.639314641987793 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.639314641987793 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8238151351202603 1.278629283975586 2.372257314044009" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.639314641987793 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8238151351202603 1.278629283975586 2.372257314044009" />
            </geometry>
        </collision>
    </link>
    <link name="Leg8">
        <inertial>
            <origin xyz="1.470215848165568 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.470215848165568 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.940431696331136 1.6340718288020946 2.2301364573374665" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.470215848165568 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.940431696331136 1.6340718288020946 2.2301364573374665" />
            </geometry>
        </collision>
    </link>
    <link name="Leg9">
        <inertial>
            <origin xyz="0 1.4178311427134904 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.4178311427134904 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7042355823463349 2.835662285426981 1.0578065540440813" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.4178311427134904 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7042355823463349 2.835662285426981 1.0578065540440813" />
            </geometry>
        </collision>
    </link>
    <link name="Leg10">
        <inertial>
            <origin xyz="0 0.9307208931903383 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.9307208931903383 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.3029381024098585 1.8614417863806767 2.4177248314024666" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.9307208931903383 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.3029381024098585 1.8614417863806767 2.4177248314024666" />
            </geometry>
        </collision>
    </link>
    <link name="Leg11">
        <inertial>
            <origin xyz="0 1.2786258105560935 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.2786258105560935 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.352307547509445 2.557251621112187 1.2481135659470066" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.2786258105560935 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.352307547509445 2.557251621112187 1.2481135659470066" />
            </geometry>
        </collision>
    </link>
    <link name="Leg12">
        <inertial>
            <origin xyz="0.6963557626818294 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6963557626818294 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3927115253636588 1.541924850622151 1.87725406018886" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6963557626818294 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3927115253636588 1.541924850622151 1.87725406018886" />
            </geometry>
        </collision>
    </link>
    <link name="Leg13">
        <inertial>
            <origin xyz="0 1.0898341361859298 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.0898341361859298 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7668661039049622 2.1796682723718597 2.9528233412435148" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.0898341361859298 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7668661039049622 2.1796682723718597 2.9528233412435148" />
            </geometry>
        </collision>
    </link>
    <link name="Leg14">
        <inertial>
            <origin xyz="0 0 1.4395266024743287" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.4395266024743287" rpy="0 0 0"/>
            <geometry>
                <box size="2.693935785073978 2.1677859716640846 2.8790532049486575" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.4395266024743287" rpy="0 0 0"/>
            <geometry>
                <box size="2.693935785073978 2.1677859716640846 2.8790532049486575" />
            </geometry>
        </collision>
    </link>
    <link name="Leg15">
        <inertial>
            <origin xyz="0 0.7445741982845421 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7445741982845421 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.550630353334668 1.4891483965690842 1.2305884353466003" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7445741982845421 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.550630353334668 1.4891483965690842 1.2305884353466003" />
            </geometry>
        </collision>
    </link>
    <link name="Leg16">
        <inertial>
            <origin xyz="0.7974260099486303 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7974260099486303 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5948520198972607 2.75390970557432 1.596087066725073" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7974260099486303 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5948520198972607 2.75390970557432 1.596087066725073" />
            </geometry>
        </collision>
    </link>
    <link name="Leg17">
        <inertial>
            <origin xyz="1.3478162022981712 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.3478162022981712 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6956324045963425 1.2370975085947722 2.1947388521722155" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.3478162022981712 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6956324045963425 1.2370975085947722 2.1947388521722155" />
            </geometry>
        </collision>
    </link>
    <link name="Leg18">
        <inertial>
            <origin xyz="0 0 0.8434877876746493" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8434877876746493" rpy="0 0 0"/>
            <geometry>
                <box size="2.714238922955235 2.3184814090364823 1.6869755753492985" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8434877876746493" rpy="0 0 0"/>
            <geometry>
                <box size="2.714238922955235 2.3184814090364823 1.6869755753492985" />
            </geometry>
        </collision>
    </link>
    <link name="Leg19">
        <inertial>
            <origin xyz="0 1.3148761954931318 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.3148761954931318 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.9275706748566 2.6297523909862637 2.60418375112465" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.3148761954931318 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.9275706748566 2.6297523909862637 2.60418375112465" />
            </geometry>
        </collision>
    </link>
    <link name="Leg20">
        <inertial>
            <origin xyz="0.52184990815608 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.52184990815608 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.04369981631216 2.8707945768906837 2.43513644738733" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.52184990815608 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.04369981631216 2.8707945768906837 2.43513644738733" />
            </geometry>
        </collision>
    </link>
    <link name="Leg21">
        <inertial>
            <origin xyz="1.4059906037841405 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.4059906037841405 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.811981207568281 2.476562110400322 1.0282860167142267" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.4059906037841405 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.811981207568281 2.476562110400322 1.0282860167142267" />
            </geometry>
        </collision>
    </link>
    <link name="Leg22">
        <inertial>
            <origin xyz="0 0.7090201209068308 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7090201209068308 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.771812219048302 1.4180402418136615 2.1958045070782113" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7090201209068308 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.771812219048302 1.4180402418136615 2.1958045070782113" />
            </geometry>
        </collision>
    </link>
    <link name="Leg23">
        <inertial>
            <origin xyz="0 0.6543164515347677 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6543164515347677 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.3297460631597007 1.3086329030695354 1.7036497892768765" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6543164515347677 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.3297460631597007 1.3086329030695354 1.7036497892768765" />
            </geometry>
        </collision>
    </link>
    <link name="Leg24">
        <inertial>
            <origin xyz="0 0.9945238096140827 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.9945238096140827 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6165625504259618 1.9890476192281654 2.141288290778216" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.9945238096140827 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.6165625504259618 1.9890476192281654 2.141288290778216" />
            </geometry>
        </collision>
    </link>
    <link name="Leg25">
        <inertial>
            <origin xyz="0.9946540023127945 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9946540023127945 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.989308004625589 2.2067670310919425 2.4905537059081766" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9946540023127945 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.989308004625589 2.2067670310919425 2.4905537059081766" />
            </geometry>
        </collision>
    </link>
    <link name="Leg26">
        <inertial>
            <origin xyz="0.5213634608189943 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5213634608189943 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0427269216379886 2.5055980482871973 2.987429576094565" />
            </geometry>
            <material name="Green">
                <color rgba="0 180.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5213634608189943 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0427269216379886 2.5055980482871973 2.987429576094565" />
            </geometry>
        </collision>
    </link>
    <link name="Leg27">
        <inertial>
            <origin xyz="1.174711539411398 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="1.174711539411398 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.349423078822796 2.171904739363232 1.0491111572615999" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="1.174711539411398 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.349423078822796 2.171904739363232 1.0491111572615999" />
            </geometry>
        </collision>
    </link>
    <link name="Leg28">
        <inertial>
            <origin xyz="0 1.0120589935663893 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1.0120589935663893 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.1599283499531867 2.0241179871327786 1.2657100487127326" />
            </geometry>
            <material name="Blue">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1.0120589935663893 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.1599283499531867 2.0241179871327786 1.2657100487127326" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Leg1" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg1"/>
       <origin rpy="0 0 0" xyz="1.4756710466597007 0 0.6953211329431707" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg1_Leg2" type="revolute">
       <parent link="Leg1"/>
       <child  link="Leg2"/>
       <origin rpy="0 0 0" xyz="0 0 1.8909085242602603" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg3" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg3"/>
       <origin rpy="0 0 0" xyz="2.071924809947513 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg2_Leg4" type="revolute">
       <parent link="Leg2"/>
       <child  link="Leg4"/>
       <origin rpy="0 0 0" xyz="2.071924809947513 0.5343665411718989 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg3_Leg5" type="revolute">
       <parent link="Leg3"/>
       <child  link="Leg5"/>
       <origin rpy="0 0 0" xyz="0.9573377826766146 1.453173130546262 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg4_Leg6" type="revolute">
       <parent link="Leg4"/>
       <child  link="Leg6"/>
       <origin rpy="0 0 0" xyz="1.379888149166806 0 1.0195103200336968" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg5_Leg7" type="revolute">
       <parent link="Leg5"/>
       <child  link="Leg7"/>
       <origin rpy="0 0 0" xyz="0 0.6064980848545602 1.2743960293797736" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg4_Leg8" type="revolute">
       <parent link="Leg4"/>
       <child  link="Leg8"/>
       <origin rpy="0 0 0" xyz="2.759776298333612 0 1.0195103200336968" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg1_Leg9" type="revolute">
       <parent link="Leg1"/>
       <child  link="Leg9"/>
       <origin rpy="0 0 0" xyz="0 1.4393092196024067 1.8909085242602603" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg4_Leg10" type="revolute">
       <parent link="Leg4"/>
       <child  link="Leg10"/>
       <origin rpy="0 0 0" xyz="2.759776298333612 1.0069322553437994 1.0195103200336968" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg11" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg11"/>
       <origin rpy="0 0 0" xyz="0.9489736833363476 0.5837106781897421 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg9_Leg12" type="revolute">
       <parent link="Leg9"/>
       <child  link="Leg12"/>
       <origin rpy="0 0 0" xyz="1.1514690512049293 0.9307208931903383 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg8_Leg13" type="revolute">
       <parent link="Leg8"/>
       <child  link="Leg13"/>
       <origin rpy="0 0 0" xyz="0 2.835662285426981 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg10_Leg14" type="revolute">
       <parent link="Leg10"/>
       <child  link="Leg14"/>
       <origin rpy="0 0 0" xyz="0 1.2786258105560935 0.6240567829735033" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg10_Leg15" type="revolute">
       <parent link="Leg10"/>
       <child  link="Leg15"/>
       <origin rpy="0 0 0" xyz="0 2.557251621112187 0.6240567829735033" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg10_Leg16" type="revolute">
       <parent link="Leg10"/>
       <child  link="Leg16"/>
       <origin rpy="0 0 0" xyz="0.6761537737547225 2.557251621112187 0.6240567829735033" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg5_Leg17" type="revolute">
       <parent link="Leg5"/>
       <child  link="Leg17"/>
       <origin rpy="0 0 0" xyz="1.2899502145647799 0.6064980848545602 1.2743960293797736" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg13_Leg18" type="revolute">
       <parent link="Leg13"/>
       <child  link="Leg18"/>
       <origin rpy="0 0 0" xyz="0 0 2.8790532049486575" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg15_Leg19" type="revolute">
       <parent link="Leg15"/>
       <child  link="Leg19"/>
       <origin rpy="0 0 0" xyz="0.7974260099486303 1.37695485278716 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg17_Leg20" type="revolute">
       <parent link="Leg17"/>
       <child  link="Leg20"/>
       <origin rpy="0 0 0" xyz="1.3571194614776174 0 0.8434877876746493" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg11_Leg21" type="revolute">
       <parent link="Leg11"/>
       <child  link="Leg21"/>
       <origin rpy="0 0 0" xyz="1.3927115253636588 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg9_Leg22" type="revolute">
       <parent link="Leg9"/>
       <child  link="Leg22"/>
       <origin rpy="0 0 0" xyz="1.1514690512049293 1.8614417863806767 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg19_Leg23" type="revolute">
       <parent link="Leg19"/>
       <child  link="Leg23"/>
       <origin rpy="0 0 0" xyz="0.52184990815608 1.4353972884453419 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg12_Leg24" type="revolute">
       <parent link="Leg12"/>
       <child  link="Leg24"/>
       <origin rpy="0 0 0" xyz="0 2.1796682723718597 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg19_Leg25" type="revolute">
       <parent link="Leg19"/>
       <child  link="Leg25"/>
       <origin rpy="0 0 0" xyz="1.04369981631216 1.4353972884453419 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg21_Leg26" type="revolute">
       <parent link="Leg21"/>
       <child  link="Leg26"/>
       <origin rpy="0 0 0" xyz="0.885906109524151 0.7090201209068308 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg20_Leg27" type="revolute">
       <parent link="Leg20"/>
       <child  link="Leg27"/>
       <origin rpy="0 0 0" xyz="2.811981207568281 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg20_Leg28" type="revolute">
       <parent link="Leg20"/>
       <child  link="Leg28"/>
       <origin rpy="0 0 0" xyz="2.811981207568281 1.238281055200161 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>
